.checked {
  color: #ccc;
  text-decoration: line-through;
  font-style: italic;
}

.fa {
  margin: 0 5px;
  color: #bbb;
}

li>label[for='todo'], li>label[for='done']{
  width: 220px;
}

body{
  font-family: monospace;
}

.btn{
  border: 1px solid black;
}

#newTodo{
  width: 200px;
}

*{
/*   border: 1px solid; */
}

#done, #my-todo{
  width: 260px;
}

.container {
  border: 1px dashed #bbb;
  border-radius: 5px;
}